<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683335865187-mmbakaqunabssprfqluhrj9e5tugcver.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683335865187-mmbakaqunabssprfqluhrj9e5tugcver</string>
	<key>API_KEY</key>
	<string>AIzaSyDP6k-5ts0GDt0J3dK4ETcNRvaqeGDbDR0</string>
	<key>GCM_SENDER_ID</key>
	<string>683335865187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.P0tt3r.TravelEssay</string>
	<key>PROJECT_ID</key>
	<string>travelessay-ba873</string>
	<key>STORAGE_BUCKET</key>
	<string>travelessay-ba873.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683335865187:ios:2467f73600319583623956</string>
</dict>
</plist>